.container {
  padding: 30px;
  margin: auto;
  margin-bottom: 30px;
}

.search-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .select,
  .input {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    justify-content: center;
    display: flex;
    padding-top: 30%;
    margin-top: 0;
    justify-content: space-around;
    flex-direction: column;
  }
  .search-filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    .select,
    .input {
      width: 150px;
      height: 30px;
      border-radius: 10px;
      margin: 10px;
    }
  }
}
