$sidebar-color: rgb(163, 136, 253);

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  width: 20%;
  height: 100vh;
  background-color: $sidebar-color;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
  }
}
