$sidebar-color: rgb(163, 136, 253);

.sidebar-menu-button {
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 18px;
  text-decoration: none;
  background-color: $sidebar-color;
  border: 0;
}
